/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  height: 100vh;
  background: #DDDDDD;
  font-family: sans-serif;
}

.title {
  color: black;
  font-size: 30px;
}

input[type="text"] {
  padding: 5px 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  width: 100%;
  max-width: 500px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.2),
    0px 18px 88px -4px rgba(24, 39, 75, 0.25);
}

.searchButton {
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
  appearance: none;
  font-size: 1.2rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  margin-left: 10px;
}

.infoContainer {
  display: flex;
  background-color: green;
}

.infoButtonsContainer {
  display: flex;
  flex-direction: column;
  background-color: red;
  margin-right: 20px;
}

.infoButtons {
  background-color: #B4B4B8;
  width: 100%;
  max-width: 200px;
  padding: 5px 10px;
  border-radius: 10px;
  appearance: none;
  font-size: 1.2rem;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: all ease-in 0.1s;
  cursor: pointer;
  margin: 5px;

}

.selected {
  background-color: yellow;
}

table th {
  background-color: #f2f2f2; /* Change to the background color you want */
  padding: 5px;
}

button:hover {
  transform: scale(1.05);
  opacity: 1;
}
